body {
  background: #36393F;
  font-family: 'Montserrat', sans-serif;
  margin: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.navigation {
  z-index: 123;
  position: fixed;
  top: 0;
  right: 0; }
  .navigation .btn-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer; }
    .navigation .btn-menu:hover span {
      width: 20px; }
      .navigation .btn-menu:hover span:last-of-type {
        width: 30px; }
    .navigation .btn-menu.active {
      display: none; }
    .navigation .btn-menu span {
      background: #fff;
      float: right;
      text-align: right;
      width: 100%;
      height: 2px;
      display: block;
      margin: 3px 0;
      transition: width .3s ease-in-out; }
      .navigation .btn-menu span:nth-of-type(2) {
        width: 25px; }
      .navigation .btn-menu span:last-of-type {
        width: 20px; }
  .navigation > div > div > div {
    border-radius: 0 !important; }
    .navigation > div > div > div form {
      padding-top: 40px;
      width: 300px;
      margin: 0 auto; }
      .navigation > div > div > div form .form-group {
        position: relative;
        margin-bottom: 30px; }
        .navigation > div > div > div form .form-group input,
        .navigation > div > div > div form .form-group textarea {
          font-size: 18px;
          padding: 10px 10px 10px 0;
          display: block;
          width: 100%;
          margin: 5px auto;
          background: transparent;
          border: none;
          border-bottom: 2px solid #e8e9ec;
          resize: none; }
          .navigation > div > div > div form .form-group input:focus, .navigation > div > div > div form .form-group input:valid,
          .navigation > div > div > div form .form-group textarea:focus,
          .navigation > div > div > div form .form-group textarea:valid {
            top: -10px;
            font-size: 12px;
            color: #959fa8;
            outline: none; }
            .navigation > div > div > div form .form-group input:focus + label, .navigation > div > div > div form .form-group input:valid + label,
            .navigation > div > div > div form .form-group textarea:focus + label,
            .navigation > div > div > div form .form-group textarea:valid + label {
              top: -10px;
              font-size: 12px;
              color: #959fa8; }
        .navigation > div > div > div form .form-group textarea {
          height: 100px; }
        .navigation > div > div > div form .form-group label {
          color: #999;
          font-size: 18px;
          font-weight: 400;
          position: absolute;
          pointer-events: none;
          left: 0;
          top: 10px;
          transition: all .2s ease;
          -moz-transition: .2s ease all;
          -webkit-transition: all .2s ease;
          display: inline-block;
          margin-bottom: .5rem; }
        .navigation > div > div > div form .form-group .invalid-feedback {
          transform: translateX(-50%);
          left: 50%;
          position: absolute;
          font-size: 10px;
          color: #F80031;
          text-transform: uppercase;
          text-align: center; }
      .navigation > div > div > div form .btn-submit {
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        text-align: center;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        padding: 8px 50px;
        border: none;
        cursor: pointer;
        transition: all .1s ease-in-out; }
        .navigation > div > div > div form .btn-submit:hover {
          background: #bcbcbc;
          color: #fff; }

nav {
  z-index: 999;
  position: fixed;
  background: #2F3136;
  height: 100%;
  width: 260px;
  right: -300px;
  transition: .3s ease-in; }
  nav.show {
    right: 0; }
  nav .exit-btn {
    cursor: pointer;
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
    left: 5px;
    border-radius: 50%;
    transition: all .1s ease-in-out; }
    nav .exit-btn:hover {
      background: #fff; }
      nav .exit-btn:hover > div {
        background: #2F3136; }
        nav .exit-btn:hover > div:after {
          content: "";
          background: #2F3136; }
    nav .exit-btn > div {
      z-index: 9999;
      position: absolute;
      left: 14px;
      top: 2px;
      height: 25px;
      width: 2px;
      background: #fff;
      transform: rotate(45deg);
      transition: all .1s ease-in-out; }
      nav .exit-btn > div::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 25px;
        width: 2px;
        background: #fff;
        transform: rotate(-90deg);
        transition: all .1s ease-in-out; }
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center; }
    nav ul li {
      text-align: center;
      width: 100%;
      height: 30px; }
      nav ul li a {
        font-weight: 500;
        text-decoration: none;
        color: #fff;
        transition: all .1s ease-in-out; }
        nav ul li a:hover {
          padding: 8px 20px;
          background: #fff;
          color: #2F3136; }
      nav ul li .contact-content .form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; }
        nav ul li .contact-content .form-group > div {
          width: 100%;
          justify-content: center; }

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center; }
  main div {
    color: #fff;
    height: 58px; }
    main div .cursor {
      color: #fff; }
    main div h1 {
      margin: 0;
      padding: 0;
      font-weight: 500; }
    main div div {
      text-align: center; }

.about-portfolio-wrapper {
  background: #36393F;
  display: flex;
  height: 100vh; }
  @media (max-width: 900px) {
    .about-portfolio-wrapper {
      flex-wrap: wrap; } }
  .about-portfolio-wrapper .left-side {
    overflow-y: hidden;
    width: 30%;
    background: #2F3136;
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 900px) {
      .about-portfolio-wrapper .left-side {
        width: 100%;
        justify-content: center; } }
    .about-portfolio-wrapper .left-side .about-content {
      color: #fff;
      width: 320px;
      padding: 0 20px;
      margin-top: 100px; }
      @media (max-width: 900px) {
        .about-portfolio-wrapper .left-side .about-content {
          width: 100%;
          text-align: center;
          margin: 0;
          padding: 60px 25px; } }
      .about-portfolio-wrapper .left-side .about-content h1 {
        margin: 0;
        padding: 0;
        margin-bottom: 20px; }
      .about-portfolio-wrapper .left-side .about-content .about-text {
        letter-spacing: 1px;
        line-height: 24px; }
        @media (max-width: 900px) {
          .about-portfolio-wrapper .left-side .about-content .about-text {
            width: 550px;
            margin: 0 auto; } }
        @media (max-width: 600px) {
          .about-portfolio-wrapper .left-side .about-content .about-text {
            width: 100%;
            margin: 0 auto;
            padding: 0 10px; } }
  .about-portfolio-wrapper .right-side {
    overflow-y: scroll;
    width: 70%; }
    @media (max-width: 900px) {
      .about-portfolio-wrapper .right-side {
        width: 100%; } }
    .about-portfolio-wrapper .right-side::-webkit-scrollbar {
      display: none; }
    .about-portfolio-wrapper .right-side .portfolio-content {
      width: 900px;
      padding: 0 50px;
      margin-top: 100px; }
      @media (max-width: 1300px) {
        .about-portfolio-wrapper .right-side .portfolio-content {
          width: 100%; } }
      @media (max-width: 900px) {
        .about-portfolio-wrapper .right-side .portfolio-content {
          margin-top: 60px; } }
      @media (max-width: 600px) {
        .about-portfolio-wrapper .right-side .portfolio-content {
          padding: 0 25px; } }
      .about-portfolio-wrapper .right-side .portfolio-content h1 {
        color: #fff;
        margin: 0;
        padding: 0;
        margin-bottom: 20px; }
        @media (max-width: 900px) {
          .about-portfolio-wrapper .right-side .portfolio-content h1 {
            text-align: center; } }
      .about-portfolio-wrapper .right-side .portfolio-content .row {
        display: flex;
        height: 100%;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -15px; }
        .about-portfolio-wrapper .right-side .portfolio-content .row > div {
          width: 50%;
          padding: 0 15px; }
          @media (max-width: 900px) {
            .about-portfolio-wrapper .right-side .portfolio-content .row > div {
              width: 100%; } }
          .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie {
            position: relative;
            background: #000;
            overflow: hidden;
            display: block;
            margin-bottom: 50px;
            text-align: center;
            max-height: 300px; }
            .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie h3 {
              margin-top: 0 !important;
              font-size: 20px; }
            .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie .btn {
              padding: 5px 45px; }
            .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie img {
              width: 100%; }
            .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie ul {
              text-transform: uppercase;
              position: absolute;
              text-align: right;
              font-weight: 700;
              padding: 20px;
              width: 100%;
              z-index: 1;
              top: 0; }
            .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie li {
              display: inline-block; }
              .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie li a {
                display: inline-block;
                border-radius: 5px;
                padding: 3px 10px;
                color: #fff; }
            .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie div {
              display: block;
              position: absolute;
              background-color: #36393F;
              transition: .25s;
              padding: 30px;
              padding-top: 20px;
              width: 100%;
              height: 35px;
              bottom: 0; }
              .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie div a {
                font-size: 14px;
                color: #fff;
                font-weight: 700;
                transition: all .1s ease-in-out; }
                .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie div a:hover {
                  color: #36393F;
                  background: #fff;
                  padding: 5px 10px; }
              .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie div p {
                margin-bottom: 5px; }
                .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie div p:last-child {
                  font-size: 11px;
                  color: #fff; }
              .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie div small {
                font-size: 13px; }
                .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie div small a {
                  text-transform: uppercase;
                  color: inherit !important;
                  font-size: inherit; }
                  .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie div small a:hover {
                    text-decoration: underline; }
            .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie .btn-more {
              transform: translate(-50%, -25%);
              position: absolute;
              opacity: 0;
              left: 50%;
              top: 0;
              color: #fff; }
              .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie .btn-more:hover {
                background-color: #fff; }
            .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie:hover img {
              opacity: 0.4; }
            .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie:hover div {
              height: 91px; }
            .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie:hover .btn-more {
              opacity: 1;
              top: 30%; }
            .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie .btn {
              transition: .25s;
              border-color: transparent !important;
              line-height: 36px;
              border-width: 2px;
              font-size: 16px;
              padding: 5px 45px; }
            .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie .btn-more {
              border-color: #fff !important;
              color: #fff !important;
              background: 0 0; }
              .about-portfolio-wrapper .right-side .portfolio-content .row > div .freebie .btn-more:hover {
                color: #000 !important; }
